.modal {
  width: 400px;
  height: 370px;
  border-radius: 8%;
  background: linear-gradient(rgb(75, 75, 90), hsl(216, 52%, 21%));

  position: fixed;
  top: 30%;
  left: 40%;
}

.form {
  position: relative;
  top: 50px;
}

.form.submit {
  display: none;
}

.thank-you {
  position: relative;
  top: 15%;
  padding: 0 30px 0 30px;
}
.thank-you.none {
  display: none;
}
.icon-wrap {
  position: relative;
  left: 25%;
  padding-bottom: 10px;
}
.select-result {
  border-radius: 25px;
  width: 160px;
  height: 24px;
  background-color: hsl(0, 0%, 36%);
}
.textWrap {
  padding: 0 30px 0 30px;
}

.i_star {
  width: 20px;
  height: 20px;

  background-color: hsl(216, 52%, 21%);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  margin: 0 0 10px 30px;
}

.circled_button {
  display: flex;
}
.submit {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  border: 0;
  outline: 0;
  width: 350px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;

  position: relative;
  left: 6%;
}

.submit:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  border: 0;
  outline: 0;
  width: 350px;
  height: 50px;
  border-radius: 25px;
  text-align: center;
  vertical-align: middle;

  position: relative;
  left: 6%;
}

.select-box {
  background-color: hsl(0, 0%, 100%);
  border-radius: 25px;
  width: 160px;
  height: 24px;
}
.select-info {
  font-size: small;
  color: hsl(25, 97%, 53%);
  text-align: center;
}

.attribution {
  position: fixed;
  bottom: 10px;
  width: 100%;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

ul {
  padding-left: 0%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  margin: 20px 0 20px 0;
}

li {
  list-style: none;
  display: inline-block;
  background-color: hsl(216, 12%, 54%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

li:hover {
  background-color: hsl(213, 8%, 79%);
}

li[clicked='true'] {
  background-color: hsl(25, 97%, 53%);
}

h3 {
  margin: 0;
  color: hsl(0, 0%, 100%);
}

p {
  color: hsl(0, 0%, 100%);
}
